name: Flask CI/CD Workflow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set Up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        
    - name: Install Dependencies
      run: |
        echo "python3 -m pip install --upgrade pip"
        echo "pip install -r requirements.txt"
      
    - name: Test App
      run: echo "python3 tests/test.py"

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: BUilding application
      run: echo "BUilding the app"
  
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Deploying application
      run: echo "Deploying the app"